{% load static %}
<html>
    <head>
        <title>J2KB's Web</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
    </head>
    <body>
       <div class="page-header">
        {% if user.is_authenticated %}
           <h3 style="color:#FFFFFF" >{{user.last_name}} {{user.first_name}}님 환영합니다.</h3>
           <a href="{% url 'signout' %}" class="top-menu"><span class="glyphicon glyphicon-log-out"></span></a>
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
         {% else %}
           <a href="{% url 'signup' %}" class="top-menu"><span class="glyphicon glyphicon-user"></span></a>
           <a href="{% url 'signin' %}" class="top-menu"><span class="glyphicon glyphicon-log-in"></span></a>
         {% endif %}
        <h1><a href="/">J2KB's Web</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>